extends layout

block content
  #container
  .multiple-items
    .item.text-center
        img#henna1(src="assets/henna1.png", style='max-width:200px', alt='')
    .item.text-center
        img#henna2(src="assets/henna3.png", style='max-width:200px', alt='')
    .item.text-center
        img#henna3(src="assets/henna2.png", style='max-width:200px', alt='')
  .samsung_logo
    img(src="assets/logo.png")
  .buttons
    .cancel-button
        .button
            h2 Cancel
    .submit-button
        .button
            h2 Submit
