extends layout

block content
  h1= title
  ul.no-bullet.inline
    each item in images
      li
        div.item-container
            h4 #{item.name}
            img.artist-image(src="../custom_images/"+item.nameC+".png")
            if item.checked == "checked"
                input(type="checkbox", name="#{item.name}", onchange="markAsDone(this)", checked="true")
            else
                input(type="checkbox", name="#{item.name}", onchange="markAsDone(this)")
