doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="./sweetalert.min.js")
    link(rel='stylesheet', href='./stylesheets/slick.css')
    link(rel='stylesheet', href='./stylesheets/sweetalert.css')
    script(src="./jquery.js")
    script(src="./slick.js")
    script(src="./fabric.js")
    script(src="./index.js")
  body
    block content
