extends layout

block content
  #container
  .multiple-items
    .item.text-center
        img#pillar1(src="assets/pillar1.png", style='max-width:200px', alt='')
    .item.text-center
        img#pillar2(src="assets/pillar2.png", style='max-width:200px', alt='')
    .item.text-center
        img#pillar3(src="assets/pillar3.png", style='max-width:200px', alt='')
    .item.text-center
        img#pillar4(src="assets/pillar4.png", style='max-width:200px', alt='')
    .item.text-center
        img#pillar5(src="assets/pillar5.png", style='max-width:200px', alt='')
  .samsung_logo
    img(src="assets/logo.png")
  .buttons
    .cancel-button
        .button
            h2 Cancel
    .submit-button
        .button
            h2 Submit
